.noHeader .header {
  display: none;
}

.pipeline-container {
  overflow-y: scroll;
  white-space: nowrap;
}

.pipeline-wrap-header-button {
  height: 52px;
}

.pipeline-save-cancel {
  display: inline;
}

.pipeline-stages {
  position: relative;
  top: 0;
  display: inline-block;
  .stage-name {
    text-align: center;
    line-height: 3;
    width: 100%;
  }
  > .stages-line {
    position: absolute;
    top: 55px;
    left: 90px;
    border-top: 2px solid #ecf0f1;
    width: calc(100% - 180px);
    height: 1px;
  }
  .stage-wrap {
    display: inline-block;
    vertical-align: top;
    width: 168px;
  }
}

.pipeline-steps {
  position: relative;
  top: 0;
  padding-top: 30px;
  > .steps-head-dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $info;
    &.draggable {
      cursor: move;
    }
  }
  > .steps-line {
    position: absolute;
    top: 0;
    width: 1px;
    border-left: 2px solid $border;
    height: calc(100% - 30px);
    left: 0;
    right: 0;
    margin: auto;
  }
  >.steps-wrap {
    padding: 4px;
    // margin-right: 10px;
    // &.active{
    // border: 2px dashed $border;
    // }
  }
  .step-content {
    position: relative;
    top: 0;
    z-index: 1;
    border: 1px solid $border;
    border-radius: 3px;
    margin-top: 10px;
    padding: 0 10px;
    width: 160px;
    line-height: 28px;
    background-color: white;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
    &.big {
      height: 160px;
      line-height: 160px;
      text-align: center;
      background-color: lighten($bg-default, 5);
      color: $link-color;
    }
    > .step-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-y: hidden;
    }
  }
  .step-add {
    text-align: center;
  }
}

.modal-pipeline-head {
  display: inline-block;
  > h2,
  p {
    display: inline-block;
    margin: 0;
  }
}
