<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>{{#link-to "pipelines.index.pipelines" (query-params status="all")}}All{{/link-to}}</li>
    <li>{{#link-to "pipelines.index.pipelines" (query-params status="active")}}Active{{/link-to}}</li>
    <li>{{#link-to "pipelines.index.pipelines" (query-params status="inactive")}}Inactive{{/link-to}}</li>
  </ul>
  <div class="right-buttons">
    <button class="btn bg-link btn-sm icon-btn p-0">
      {{#link-to "pipelines.new-pipeline" class="btn bg-link icon-btn p-0"}}
        <span class="darken"><i class="icon icon-plus text-small"/></span>
        <span>Add Pipeline</span>
      {{/link-to}}
    </button>
  </div>
</section>


<section class="instances">
  {{pipeline/pipeline-jobs-table
      body=filtered
      sortBy=sortBy
      bulkActions=true
      search=true
      paging=true
    }}
</section>
