<section class="header has-tabs clearfix">
  <h1>{{model.pipeline.name}}</h1>

  <div class="right-buttons pipeline-wrap-header-button">
      {{#save-cancel class="pipeline-save-cancel" createLabel="newPipeline.save" save="save" cancel="cancel"}}
      {{/save-cancel}}
  </div>
</section>

<section>
  {{pipeline-stages stagesDraggable=true model=pipeline.stages editable=true
    pipelineEditActions=pipelineEditActions
  }}
</section>