{{top-errors errors=errors}}
<section class="header has-tabs clearfix">
  <h1 style="margin-top: 8px">{{input type="text" value=model.pipeline.name classNames="form-control" placeholder="Pipeline Name"}}</h1>
  <div class="right-buttons pipeline-wrap-header-button">
    {{#save-cancel class="pipeline-save-cancel" createLabel="newPipeline.add" save="save" cancel="cancel"}}
    {{/save-cancel}}
  </div>
</section>

<section class="pipeline-container">
  {{pipeline-stages 
    stagesDraggable=true 
    model=stages 
    editable=true
    editMode="new"
  }}
</section>