<section class="header has-tabs clearfix">
   <ul class="tab-nav">
    <li>{{#link-to "pipelines.ready.activities"}}Activities{{/link-to}}</li>
    <li>{{#link-to "pipelines.ready.pipelines"}}Pipelines{{/link-to}}</li>
  </ul>
</section>
{{outlet}}